<h> Welcome to MyMusicApp! </h>
<h2> Signup </h2>
<form action="<%=users_url%>" method = "post">
	<label for="email_label">Email:</label>
	<input type="text"
				 name="user[email]"
				 id="email_label"
				 value="<%= @user.email %>">
	<br>
	<label for="password_label">Password:</label>
	<input type="password"
				 name="user[password]"
				 id="password_label">
	<br>
	<input type="submit" value="Signup">
</form>
